* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#container-float {
    background-color: pink;
    min-height:100vh;
    height: 100vh;
}

#header-float {
    width: 70%;
    height: 12.5%;
    float: right;
    background-color: lightblue;
}

#first-menu-float {
    width: 30%;
    height: 87.5%;
    float: left;
    background-color: #99CC99;
}

#second-menu-float {
    width: 40%;
    height: 75%;
    float: left;
    background-color: #d2d0d2;
}

#first-content-float {
    width: 30%;
    height: 87.5%;
    float: right;
    background-color: #C1B0CA;
}

#second-content-float {
    width: 70%;
    height: 12.5%;
    float: left;
    background-color: #FFD172;
}

img {
    max-height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 50px;
}

p {
    text-indent: 30px;
}

#container-flex {
    margin: 10px 0;
    background-color: pink;
    min-height:100vh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#header-flex {
    height: 12.5%;
    flex: 70%;
    background-color: lightblue;
    text-align: center;
    font-size: 50px;
}

#main-flex {
    display: flex;
    flex: 70%;
    flex-wrap: wrap
}

#first-menu-flex {
    height: 87.5%;
    flex: 30%;
    background-color: #99CC99;
}

#second-menu-flex {
    height: 87.5%;
    width: 57.1%;
    background-color: #d2d0d2;
}

#first-content-flex {
    height: 101.8%;
    width: 42.9%;
    background-color: #C1B0CA;
}

#second-content-flex {
    height: 12.5%;
    width: 70%;
    background-color: #FFD172;
}
